.so-widget-sow-image-default-fae83571bfaa .widget-title {
  text-align: center;
}
.so-widget-sow-image-default-fae83571bfaa .sow-image-container {
  text-align: center;
}
.so-widget-sow-image-default-fae83571bfaa .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
}